.App {
  background-color: rgb(26, 119, 177);
  width: 100vw;
  height: 100vh;
}

.App-header {
  font-family: 'Comic Neue', cursive;
  font-family: 'Press Start 2P', cursive;
  height: 3rem;
  font-size: 0.75rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}