
   
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.fonted {
  font-family: 'Comic Neue', cursive;
  font-family: 'Press Start 2P', cursive;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}