version: "3"

services:
  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - 80
    depends_on:
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-netwo
  # Frontend
  frontend:
    image: donbattery/bnj-frontend:{{ app_environment }}
    depends_on:
      - backend
    networks:
      - app-network

  # Backend
  backend:
    image: donbattery/bnj-backend:{{ app_environment }}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
